@font-face {
    font-family: "BootstrapFont";
    src: url(iranyekanwebbold.ttf);
}


* {
    font-family: "BootstrapFont";
    padding: 0;
}

body {
    background-color: rgba(200, 200, 200, .3);
}

.profile_sidebar {
    border: 2px solid white;
    border-radius: 10px;
}

.SideBar {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)), url("images/sidebar-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.nav i,
.nav a {
    font-size: 35px;

}

.nav-item {
    border-radius: 10px;
    transition: background-color 200ms;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, .2);
}

.nav-item-active {
    background-color: rgb(255, 75, 75);
    transition: background-color 200ms;
}

.nav-item-active:hover {
    background-color: rgb(255, 81, 0);
}

input[type="search"] {
    border: none;
    outline: none;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    background-color: inherit;
    border-bottom: 2px solid rgb(255, 255, 255, .7);
    transition: border 300ms;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input[type="search"]:focus {
    border-bottom: 2px solid rgba(255, 75, 75, .7);
}

.searchBtn {
    background-color: inherit;
    font-size: 22px;
    color: rgba(255, 75, 75, .7);
    transition: all 250ms;
    box-shadow: none;
}

.searchBtn:hover {
    background-color: white;
}

.navbarbuttons a {
    font-size: 20px;
}

.navbarbuttons .fa {
    transition: color 250ms;
}

.navbarbuttons .fa-bell:hover {
    color: yellow;
}

.navbarbuttons .fa-comment:hover {
    color: rgb(0, 183, 255);
}

.modal-backdrop {
    z-index: -100;
}


.status-cards .card {
    box-shadow: 0 0 15px rgba(0, 0, 0, .45);
    transition: box-shadow 250ms, transform 250ms;
}

.status-cards .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    transform: translateY(-2px);
}

.status-cards .card-body i {
    font-size: 40px;
}

.tasks li {
    border-right: 5px solid red;
    transition: border 500ms;
}

.tasks i {
    font-size: 25px;
}

.table2 th,
.table2 td {
    text-align: center;
    vertical-align: middle;
}

.table2 th {
    background-color: white;
}

.table2 tr:nth-child(even) {
    background-color: white;
}
.accordion button{
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}
.accordion button:hover{
    background-color: rgba(0,0,0,.1);
}
.date i{
   font-size: 85px; 
}
.date span{
    margin: 30px auto;
}
.date{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.3);
}

@media screen and (max-width:768px) {

    .navbar .row,
    .navbar-collapse .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .SideBar {
        position: static;
        height: auto;
    }

    .topNav {
        position: static;
        height: 145px;
    }
}

@media screen and (max-width:2000px) {

    .nav i,
    .nav a {
        font-size: 20px;

    }

}